In [1]:
from enmspring.spring import Spring
from enmspring import k_b0_util

### Part 0: Initialize

In [2]:
rootfolder = '/home/yizaochen/codes/dna_rna/fluctmatch_sequence'
cutoff = 4.7
host = 'atat_21mer'
type_na = 'bdna+bdna'
n_bp = 21
spring_obj = Spring(rootfolder, host, type_na, n_bp)

/home/yizaochen/codes/dna_rna/fluctmatch_sequence/atat_21mer/bdna+bdna/pd_dfs exists

### Part 1 : Process Data

In [3]:
df0 = spring_obj.read_k_b0_pairtype_df_given_cutoff(cutoff)
df_central_bps = k_b0_util.get_central_bps_df(df0)

In [4]:
df_central_bps.head()

,PairID,PairType,Big_Category,Strand_i,Resid_i,Atomname_i,Atomid_i,Strand_j,Resid_j,Atomname_j,Atomid_j,k,b0
798,799,same-P-P-0,backbone,STRAND1,4,P,60,STRAND1,4,O1P,61,33.2810,1.3945
799,800,same-P-P-0,backbone,STRAND1,4,P,60,STRAND1,4,O2P,62,26.4786,1.3845
800,801,same-P-P-0,backbone,STRAND1,4,P,60,STRAND1,4,O5',63,23.1420,1.4993
801,802,same-P-P-0,backbone,STRAND1,4,P,60,STRAND1,4,C5',64,3.9123,2.4646
805,806,same-P-S-0,backbone,STRAND1,4,P,60,STRAND1,4,C2',78,0.3945,4.6752